body {
  background-color: #191414;
  font-family: "Roboto";
  color: white;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition-duration: 400ms;
}
a:hover {
  opacity: 0.5;
}
a:visited {
  color: white;
}
