@-webkit-keyframes slide {
  0% {
    left: 251%;
  }
  100% {
    left: -251%;
  }
}
@-moz-keyframes slide {
  0% {
    left: 251%;
  }
  100% {
    left: -251%;
  }
}
@keyframes slide {
  0% {
    left: 251%;
  }
  100% {
    left: -251%;
  }
}
